body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}


.mydiv{
    background-color: #1f1f1f;
    width: 270px;
    height: 530px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.mydiv img{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    border: 5px solid white;
    
}

.mydiv h1{
    font-size: 20px;
    color: white;
    font-family: "Rethink Sans", "Rethink Sans Placeholder", sans-serif;
    margin-bottom: 0px;
}
.mydiv h2{
    font-size: 18px;
    color: #94b815;
    margin-top: 5px;
    font-family: "Rethink Sans", "Rethink Sans Placeholder", sans-serif;
    margin-bottom: 30px;
}

.mydiv p{
    font-size: 12.2px;
    color: white;
    font-family: "Rethink Sans", "Rethink Sans Placeholder", sans-serif;
    margin-bottom: 30px;
}

/**----------------------MY SOCIAL LINKS ---------------------**/
.sociallinks{
    background-color:#333333 ;
    text-decoration: none;
    color: white;
    font-family: "Rethink Sans", "Rethink Sans Placeholder", sans-serif;
    height: 20px;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.sociallinks a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}
.sociallinks a ion-icon {
    font-size: 20px;
    margin-right: 10px;
}